@font-face {
    font-family: Poppins-Bold;
    src: url(../font/Poppins/Poppins-Bold.ttf);
}

@font-face {
    font-family: Poppins-Black;
    src: url(../font/Poppins/Poppins-Black.ttf);
}

@font-face {
    font-family: Poppins-Light;
    src: url(../font/Poppins/Poppins-Light.ttf);
}

@font-face {
    font-family: Poppins-ExtraLight;
    src: url(../font/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: Poppins-SemiBold;
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: Poppins-Thin;
    src: url(../font/Poppins/Poppins-Thin.ttf);
}

@font-face {
    font-family: Poppins-Regular;
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: Poppins-Medium;
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

.has-search {
    position: relative;
}

.has-search img {
    position: absolute;
    top: 12px;
    right: 13px;
    height: 20px;
}

.has-search .form-control {
    border: 1px solid rgba(178, 184, 197, 1) !important;
    border-radius: 12px !important;
    Width: 449px;
    Height: 46px;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;

    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    stop-color: rgba(178, 184, 197, 1) !important;
    stroke-width: 1 !important;
    stroke-lineJoin: round !important;
    stroke-strokePosition: inside;
}

.has-search input::placeholder {
    font-family: Poppins-Regular;
    color: #60697B;
    font-size: 12px;
}

.name {
    color: #030938;
    font-family: Poppins-Bold;
    font-size: 18px;
}

.detail {
    font-size: 14px;
    color: #777777;
    font-family: Poppins-Light;
}

.detail span {
    color: #2BBA5F;
}

.bell img {
    height: 28px !important;
    position: relative;
}

.bell::before {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    color: red;
}

#left-bg {
    background-color: rgba(236, 238, 246, 1);
}

.list-btn,
.brand-btn {
    font-family: Poppins-Semibold;
    font-size: 14px;
    color: #08203A;
    background-color: rgba(255, 255, 255, 1);
    border: transparent;
    border-radius: 16px;
    width: 94%;
    height: 51px;

}

.brand-btn {
    background-color: #2BBA5F;
    color: white;
}

.head-name {
    margin-top: 8px;
    font-size: 14px;
    color: #030938;
    font-family: poppins-semibold;
}

.dis-head {
    font-size: 14px;
    color: #60697B;
    font-family: Poppins-Light;
}

.price {
    font-size: 16px;
    color: #2BBA5F;
    font-family: Poppins-SemiBold;
}

.price span {
    font-size: 10px;
    font-family: Poppins-Light;
}

.border-bg {
    border: 1px solid rgba(178, 184, 197, 1);
    border-radius: 12px;
    height: 267px;
}

.border-bg img {
    background: white;
    /* padding: 18px; */
    border-radius: 12px;
}

.img7 {
    padding-top: 36px;
    padding-bottom: 36px;
}

.img5 {
    padding-top: 45px;
    padding-bottom: 45px;
}

.img4 {
    padding-top: 40px;
    padding-bottom: 40px;
}

.slick-slide img {
    display: initial !important;
}

/********************section dropdown**************/
#dropdownMenuButton {
    border: 1px solid #60697B;
    border-radius: 12px;
    color: #60697B;
    font-size: 14px;
    font-family: Poppins-Light;
    background-color: transparent;
}
#dropdownMenuButton span{
    background-color: transparent !important;
}
.dropdown-toggle {
    width: 355px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 47px;

}

/* 

.dropdown-item:focus,
.dropdown-item:hover {
    color: #ffffff;
    background-color: #dc3545;
    padding: 12px;
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 12px;

} */
#right-side {
    background-color: rgba(248, 246, 249, 1);
}

.add-btn {
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid transparent;
    font-weight: 500;
    color: gray;
}

#right-side h1 {
    font-family: Poppins-SemiBold;
    font-size: 14px;
    color: #030938;
}

.td-bg {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 12px;
    position: relative;
}

#right-side h2 {
    font-family: Poppins-SemiBold;
    font-size: 14px;
    color: #030938;
}

#right-side h6 {
    font-family: Poppins-Light;
    font-size: 14px;
    color: #60697B;
}

#right-side .price {
    color: #60697B;
    font-family: Poppins-Light;
    font-size: 14px;
}

#right-side .minus-btn,
#right-side .plus-btn,
#right-side span {
    background-color: rgba(255, 255, 255, 1);
    border-radius: 5px;
    border-color: transparent;
    color: #60697B;
    font-size: 12px;
}

.cart-bg {
    background-color: rgba(240, 251, 244, 1);
    border-radius: 5px;
    text-align: center;
}

#right-side .sub-total {
    color: #2BBA5F;
    font-family: Poppins-SemiBold;
    font-size: 14px;
}
.cross-btn{
    background-color: rgba(236, 238, 246, 1);
    border-radius: 33%;
    position: absolute;
    top:-1px ;
    right: 0;
    color: #60697B;
    font-size: 11px;
    font-family: Poppins-Light;
}
.apply-coupon{
    background-color: rgba(240, 251, 244, 1);
}
.apply{
    color: #2BBA5F;
    font-family: Poppins-Regular;
    font-size: 14px;
}
.apply-coupon img{
    height: 17px;
}
.pay{
    font-family: Poppins-Light;
    font-size: 16px;
    color: #000;
}
.payable-amount{
    font-family: Poppins-SemiBold;
    font-size: 22px;
    color: #2BBA5F;
}
.payable-amount span{
    font-size: 12px !important;
    color: #2BBA5F !important;
    font-family: Poppins-Light;
}
.pay-border{
    border: 2px dotted rgba(96, 105, 123, 1);
    border-radius: 12px;
}
.input-container {
    padding: 31px;
    position: relative;
  }
  .input-container i{
    position: absolute;
    right: 21px;
    top: 58%;
    font-size: 13px;
    font-style: normal;
  }
  input {
    box-sizing: border-box;
    width: 250px;
    padding-right: 36px;
   border-color: rgba(178, 184, 197, 1);
    background-image: url('/assets/images/per.png');
    background-size: 20px;
    background-position-x: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    border-radius: 8px;
  }
.icon {
    padding-right: 25px;
    background: url("/assets/images/img1.png") no-repeat right;
    background-size: 20px;
  }
  .icon-dollar {
    padding-right: 25px;
    background: url("/assets/images/dollar.png") no-repeat right;
    background-size: 20px;
  }
  label{
    font-size: 12px;
    font-family: Poppins-Regular;
    color: #030938;
  }
  .reset-btn,.hold-btn{
    border: 1px soild rgba(236, 238, 246, 1);
    background-color: rgba(236, 238, 246, 1);
    color: #030938;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    border: transparent;
    width: 183px;
    height: 51px;
  }
  .hold-btn{
    background-color: rgba(243, 156, 18, 1);
    color: #fff;
  }
  .play-btn{
    background-color: rgba(43, 186, 95, 1);
    color: #fff;
    font-family: Poppins-SemiBold;
    font-size: 14px;
    border: transparent;
    width: 377px;
    height: 51px;
    border-radius: 12px;
  }
  .dollar{
    font-size: 10px !important;
    font-family: Poppins-Medium !important;
    padding-top: 1px;
  }
  .green-dollar,.green-dollar1{
    font-size: 10px !important;
    font-family: Poppins-Medium !important;
    color: #2BBA5F !important;
    padding-top: 2px;
  }
  .green-dollar1{
    font-size: 14px !important;
  }
  .modal-title{
    color: #05070b;
    font-size: 14px;
    font-family: 'Poppins-Medium';
  }
  .submit-btn{
    background-color: #2BBA5F;
    color: #fff;
    font-family:Poppins-Light;
    border: 0;
    border-radius: 5px;
    font-size: 14px;
  }
  .modal-dialog{
    max-width: 700px !important;
  }
  #exampleModal input::placeholder, #exampleModal textarea::placeholder{
    /* background-color: #2BBA5F; */
    color: #000;
    font-family:Poppins-Light;
  
    font-size: 12px;
  }
  #exampleModal input,#exampleModal textarea{
    /* background-color: #2BBA5F; */
    color: #000;
    font-family:Poppins-Light;
  
    font-size: 14px;
  }


  /***********list modal**********/
  #slider {
    position: absolute;
    width: 100px;
    height: 100px;
    background: blue;
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
}

.slide-in {
    animation: slide-in 0.5s forwards;
    -webkit-animation: slide-in 0.5s forwards;
}

.slide-out {
    animation: slide-out 0.5s forwards;
    -webkit-animation: slide-out 0.5s forwards;
}
    
@keyframes slide-in {
    100% { transform: translateX(0%); }
}

@-webkit-keyframes slide-in {
    100% { -webkit-transform: translateX(0%); }
}
    
@keyframes slide-out {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-100%); }
}

@-webkit-keyframes slide-out {
    0% { -webkit-transform: translateX(0%); }
    100% { -webkit-transform: translateX(-100%); }
}
.card{
    border: 0;
    border-radius: 10px;
    box-shadow: 0 4px 20px 1px rgb(0 0 0 / 6%), 0 1px 4px rgb(0 0 0 / 8%);
}
.list-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    padding-left: 0;
    font-family: 'Poppins-Regular';
}
.list-group span{
    font-family: 'Poppins-SemiBold';
}
.badge {
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    padding: 0.25em 0.4em;
    text-align: center;
    vertical-align: baseline;
    white-space: nowrap;
}
.badge-pill {
    border-radius: 10rem;
    padding-left: 0.6em;
    padding-right: 0.6em;
}
.badge-primary {
    background-color: #2BBA5F !important;
    color: #fff;
}

.badge {
    font-weight: 600;
}
option{
    font-size: 12px;
    font-family: "Poppins-Regular";
}

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    background-color: #fff;
    box-shadow: 0 .5rem 1rem rgba(10,2,30,.15)!important;
}

.sidenav a{

    display: block;
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    transition: 0.3s;
}

.sidenav a:hover{

    color: #F1F1F1;

} 

.sidenav .closebtn{
    
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 35px;
    margin-left: 50px;
}

#overlay{
z-index: 2;
position: fixed;
height: 100%;
width: 100%;
top: 0;
left: 0;
display: none;
}

@media screen and (max-height: 450px){

    .sidenav{padding-top: 15px;}
    .sidenav a{font-size: 18px;}

}
.side-h1{
    font-size: 16px;
    font-family: "Poppins-SemiBold";
    color: #05070b;
}
/* #mySidenav .slick-slide,#mySidenav .slick-track{
width: 82% !important;
} */